.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Farmer_Fields {
  display: flex;
  margin: 10px;
  border: 1px solid black;
  width: 60%;
}
.Farmer_Duty {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
}
.Farmer_Name {
  margin: 10px;
}
.Crop_Icon_In_Farmer {
  padding-right: 10px;
}

.Seed_In_Farmer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Seeds_In_Farmer {
  border: 1px solid black;
  padding: 10px;
}
.Complete_Btn {
  margin-left: 5px;
}

.Seed_In_Farmer:hover .Complete_Btn {
  display: inline;
}
.Complete_Btn {
  display: none;
}
.Invite_Farmer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20%;
  font-size: 1em;
  color: blue;
  cursor: pointer;
}

.Modal_Background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  /* z-index: 10000; */
}
.Invite_Modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 30%;
  padding: 20px;
  background-color: #1c723e;
  color: white;
}

.Sub_Nav {
  display: flex;
  position: static;
  background-color: #f6f8fa;
  align-items: center;
  padding: 5px;
  height: 2.5em;
}

.Sub_Nav > .Farm_Name {
  margin: 5px 25px 5px 5px;
  cursor: pointer;
  color: #1c723e;
  font-weight: bold;
}
.Sub_Nav > .Storage {
  cursor: pointer;
  padding: 5px 25px 5px 25px;
  color: #ffffff;
  background-color: #1c723e;
  border-radius: 5px;
}

.Whole_Storage {
  display: flex;
  width: 70%;
  border: 1px solid black;
}
.Storage_Part {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.Storage_Seed {
  background-color: #aed581;
  padding: 5px;
  margin: 5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Modal {
  display: none;
  position: fixed;
  top: -500px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  color: #1c723e;
  background-color: rgba(0, 0, 0, 0.4);
}
.Modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.Modal > section {
  width: 90%;
  max-width: 380px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.Modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #fff;
  font-weight: 700;
}
.Modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.Modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.Modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}
.Modal > section > footer button {
  padding: 6px 12px;
  color: #fff;
  background: #1c723e;
  border-radius: 5px;
  font-size: 13px;
}
.Modal.Modal_Open {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
.Create_Farm {
  width: 280px;
  height: 171px;
  left: 664px;
  top: 178px;
  cursor: pointer;

  background: linear-gradient(73.94deg, #1c723e 0%, #b6c61a 133.37%);
  border-radius: 1px;
}
.Create_Input {
  width: 330px;
  height: 30px;
  padding-left: 10px;
  border: solid 2px #1c723e;
  border-radius: 5px;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Login_SignUp_Nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 4em;
  left: 0px;
  top: 0px;
  background: #ffffff;
}
.Farm_Image {
  position: absolute;
  left: 1.25%;
  right: 93.28%;
  top: 15px;
  bottom: 95.76%;
}
.Login_SignUp {
  display: flex;
  align-items: center;
}
.SignUp {
  margin: 20px;
  cursor: pointer;
  background-color: #1c723e;
  color: white;
  padding: 7px;
  border-radius: 5px;
  font-weight: bold;
}
.MyPage_Btn {
  background-color: white;
  color: #1c723e;
}
.Login {
  cursor: pointer;
  color: #1c723e;
  font-weight: bold;
}
.Logout_Btn {
  color: #ffffff;
}
.Login_Window {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 12%;
  left: 40%;
  width: 20%;
  height: 65%;
}
.Login_Wrapper {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  padding: 35px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
}
.Farm_Logo_In_Login {
  padding: 15px;
}
.Login_Window > .Farm_Logo {
  margin-bottom: 30px;
}
.Input_Set {
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-bottom: 15px;
}
.Btns_Login_SignUp {
  display: flex;
  flex-direction: column;
  height: 20%;
}
.Btn_Login {
  background-color: #1c723e;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.Input_Btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 5px;
  border: 1px solid #1c723e;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}
.Login_Text {
  margin-left: 5px;
  font-size: 30px;
  color: #1c723e;
  font-weight: bold;
}
.SignUp_Span {
  color: #1c723e;
  cursor: pointer;
  font-weight: bold;
}
.Error_Msg {
  margin-left: 5px;
  color: red;
  font-size: small;
  font-weight: bold;
}
.Ok_Msg {
  color: #1c723e;
  font-weight: bold;
}
.NotOk_Msg {
  color: red;
  font-weight: bold;
}
.Btn_Logout {
  cursor: pointer;
}

.Farm_Crops_Field {
  position: fixed;
  right: 0;
  top: 12.5%;
  width: 356px;
  height: 87.5%;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.Farm_Crops_Field p {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #222222;
  margin: 0 0 20px 0;
}

.Farm_Field {
  width: 356px;
  background: #f6f8fa;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 9px;
  padding-bottom: 20px;
}
.Crops_Base {
  padding: 20px 12px 13px 12px;
}

.Crops_Icon {
  position: relative;
  font-size: 20px;
  margin-right: 10px;
  height: 20px;
}

.Crops_Name {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  align-items: center;
  letter-spacing: -0.015em;
}

.Crops_Cnt {
  position: inline-block;
  text-align: center;
  float: right;
  margin-top: 4px;
  width: 22px;
  height: 21px;
  background: #e3e7e9;
  border-radius: 9px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.015em;
}

.Seed_Board {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  margin: 9px 12px 0px 12px;
}
.Add_Seed {
  padding: 10px;
}
.Seed_Board .Give_Seed_Button {
  position: absolute;
  display: none;
  left: 160px;
  margin-top: -3px;
}

.Seed_Board:hover .Give_Seed_Button {
  display: block;
}
.Seed_Board:hover {
  background: rgba(149, 149, 149, 0.5);
}
.Farmer_List {
  position: absolute;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  width: 230px;
  padding: 6px;
  right: 30px;
  margin-top: 10px;
}
.Farmer_List li {
  background-color: #e2e2e280;
  list-style: none;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  width: auto;
  padding: 6px;
}

.Farmer_List li:hover {
  background-color: #b1b0b080;
}

.Seed_Board input {
  border: 0px;
}
.Seed_Board input:focus {
  outline: none;
}
.Seed_Err {
  color: red;
  font-size: 13px;
}
.Seed_Board button {
  color: #ffffff;
  background: #1c723e;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 4px 10px;
  float: right;
}

.Seed_Name {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;

  color: #1c723e;
}

.Seed_Board input {
  margin-top: 7px;
  width: 230px;
}
.Add_Button {
  display: block;
}

.Add_Crop_Field {
  background: #f6f8fa;
  border: 1px dashed #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px;
  width: 356px;
  margin-top: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.On_Add {
  height: 123px;
}

.Add_Crop_Field:hover {
  background: #dddedf;
}

.Add_Crop_Text {
  text-align: center;
}

.Logout_Farm {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.Footer {
  position: absolute;
  max-width: 100%;
  /* overflow: hidden; */
  left: 0;
  bottom: 0;
}
.Input_Box {
  border: 1px solid #1c723e;
  border-radius: 5px;
  border-width: 1.8px;
  height: 2em;
  background-color: #ffffff;
  font-size: 1rem;
}
.Msg {
  font-size: small;
}
.Sign_In_Page {
  background-color: #fcfcfc;
  /* height: 100%; */
}
.Other_Headers {
  background-color: #1c723e;
}

.Kind_Base {
  position: absolute;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  margin: 0;
}
.Kind_Seed {
  list-style: none;
  margin: 2px;
}
.Kind_Seed:hover {
  background: #bebebe;
  border: 1px solid #c4c4c4;
  margin: 1px;
  border-radius: 3px;
  padding: 0;
}

.Add_Crop_From button {
  color: #ffffff;
  background: #1c723e;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 11px;
  float: right;
}
.Add_Crop_From .Add_Crop_Data {
  display: flex;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 5px;
  height: 54px;
}
.Add_Crop_From input {
  border: 0px;
  background: #ffffff;
  width: 100%;
  margin-left: 10px;
}
.Add_Crop_From input:focus {
  outline: none;
}
.Kind_Icon {
  margin-top: 11px;
  margin-left: 10px;
}
.Header_Wrapper {
  display: flex;
  flex-direction: column;
}
.Nav_Wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
  height: 100%;
}
.Whole_Mypage {
  width: 100%;
  height: 100%;
}
