.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Farmer_Fields {
  display: flex;
  margin: 10px;
  border: 1px solid black;
  width: 60%;
}
.Farmer_Duty {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
}
.Farmer_Name {
  margin: 10px;
}
.Crop_Icon_In_Farmer {
  padding-right: 10px;
}

.Seed_In_Farmer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Seeds_In_Farmer {
  border: 1px solid black;
  padding: 10px;
}
.Complete_Btn {
  margin-left: 5px;
}

.Seed_In_Farmer:hover .Complete_Btn {
  display: inline;
}
.Complete_Btn {
  display: none;
}
.Invite_Farmer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20%;
  font-size: 1em;
  color: blue;
  cursor: pointer;
}

.Modal_Background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  /* z-index: 10000; */
}
.Invite_Modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 30%;
  padding: 20px;
  background-color: green;
  color: white;
}

.Sub_Nav {
  display: flex;
  background-color: #cbc693;
  align-items: center;
  padding: 5px;
}

.Sub_Nav > .Farm_Name {
  margin: 5px 25px 5px 5px;
  cursor: pointer;
}
.Sub_Nav > .Storage {
  cursor: pointer;
}

.Whole_Storage {
  display: flex;
  width: 70%;
  border: 1px solid black;
}
.Storage_Part {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.Storage_Seed {
  background-color: #aed581;
  padding: 5px;
  margin: 5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Modal {
  display: none;
  position: fixed;
  top: -500px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  color: #1c723e;
  background-color: rgba(0, 0, 0, 0.4);
}
.Modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.Modal > section {
  width: 90%;
  max-width: 380px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.Modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #fff;
  font-weight: 700;
}
.Modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.Modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.Modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}
.Modal > section > footer button {
  padding: 6px 12px;
  color: #fff;
  background: #1c723e;
  border-radius: 5px;
  font-size: 13px;
}
.Modal.Modal_Open {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
.Create_Farm {
  width: 280px;
  height: 171px;
  left: 664px;
  top: 178px;
  cursor: pointer;

  background: linear-gradient(73.94deg, #1c723e 0%, #b6c61a 133.37%);
  border-radius: 1px;
}
.Create_Input {
  width: 330px;
  height: 30px;
  padding-left: 10px;
  border: solid 2px #1c723e;
  border-radius: 5px;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Login_SignUp_Nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background: #fff9c4;
}
.Farm_Image {
  position: absolute;
  left: 1.25%;
  right: 93.28%;
  top: 20px;
  bottom: 95.76%;
}
.Login_SignUp {
  display: flex;
  align-items: center;
}
.SignUp {
  margin: 20px;
  cursor: pointer;
}
.Login {
  cursor: pointer;
}
.Login_Window {
  position: fixed;
  top: 30%;
  left: 35%;
  width: 25%;
  border: 1px solid black;
}
.Login_Wrapper {
  border: 1px solid black;
  padding: 15px;
}
.Farm_Logo_In_Login {
  padding: 15px;
}
.Input_Set {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.Btns_Login_SignUp {
  display: flex;
  flex-direction: column;
}
.Btn_Login {
  background-color: green;
  color: white;
  cursor: pointer;
}
.Input_Btn {
  margin: 5px;
  border: 1px solid black;
  text-align: center;
}
.Login_Text {
  margin: 5px;
}
.SignUp_Span {
  color: green;
  cursor: pointer;
}
.Error_Msg {
  margin-left: 5px;
  color: red;
  font-size: small;
  font-weight: bold;
}
.Ok_Msg {
  color: green;
  font-weight: bold;
}
.NotOk_Msg {
  color: red;
  font-weight: bold;
}
.Btn_Logout {
  cursor: pointer;
}
