.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Farmer_Fields {
  display: flex;
  margin: 10px;
  border: 1px solid black;
  width: 60%;
}
.Farmer_Duty {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
}
.Farmer_Name {
  margin: 10px;
}
.Crop_Icon_In_Farmer {
  padding-right: 10px;
}

.Seed_In_Farmer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Seeds_In_Farmer {
  border: 1px solid black;
  padding: 10px;
}
.Complete_Btn {
  margin-left: 5px;
}

.Seed_In_Farmer:hover .Complete_Btn {
  display: inline;
}
.Complete_Btn {
  display: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
